html 
    head  
        title Index Page    
    body   
        h1 #{name}.. !
        h2 = descripthon
        - for(var i =0; i<10; i++){
            p 
                 a(href="http://www.e-mirim.hs.kr/main.do", data-tesst="multipe Attribute")미림 #{i}

        -}
       
       
        
    